.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    height: 100vh;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 35rem;
    margin-bottom: 1rem;
}
.header *{
    margin: 0.5rem;
}
.first-h1{
    font-weight: 300;
    color: hsl(212, 6%, 44%);
    margin: 0;
}
.second-h1{
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
}
p{
    color: hsl(212, 6%, 44%);
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}
.cards > div{
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 15rem;
    height: 10rem;
}
.cards .card-2-3{
    height: auto;
    width: auto;
    padding: 0.5rem;
}
.card-2-3 .card-2, .card-3{
    width: 16rem;
    height: 12rem;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
img{
    width: 3.5rem;
    height: 3.5rem;
    padding-left: 12.5rem;
    margin-top: 1rem;
}
.card-1{
    border-top: 0.25rem solid;
    border-top-color: hsl(180, 62%, 55%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.card-2{
    border-top: 0.25rem solid;
    border-top-color: hsl(0, 78%, 62%);
}
.card-3{   
    margin-top: 1rem;
    border-top: 0.25rem solid;
    border-top-color: hsl(34, 97%, 64%);
}
.cards .card-4{ 
    border-top: 0.25rem solid;
    border-color: hsl(212, 86%, 64%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.card-1 h2{
    font-size: 15px;
    margin: 0;
}
.card-4 h2{
    font-size: 15px;
    margin: 0;
}
.cards p{
    font-size: 12px;
    line-height: 1.5rem;
}
h2{
    font-size: 19px;
    font-weight: 600;
}
@media (max-width: 600px){
    .cards{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 375px){
    .first-h1{
        font-size: 1.75rem;
    }
    .second-h1{
        font-size: 1.75rem;
    }
}