.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.header *{
    margin: 0.5rem;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}
.cards > div{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 12.5rem;
    height: 9rem;
}
.cards .card-1, .card-4{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.cards .card-2-3{
    height: calc(100% - 10rem);
    width: 16.5rem;
    padding: 0rem;
}
.card-2-3 .card-2, .card-3{
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.card-3{
    margin-top: 1rem;
}
.cards > div img{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
    background: rgba(0, 0, 0, 0.1);
}